<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/index.css">
    <title>{{title}}</title>
</head>
<body>
    <div class="flex-container">
        <h1>Go Solo</h1>
        <a href="/mydashboard">Get Started</a>
    </div>

    <marquee> · Japan ·  Scotland · Italy · France · Spain · Greece · New Zealand · Australia · Portugal · Brazil · Ireland · Thailand · Mexico · Switzerland · Netherlands · Canada · Austria · Norway · Finland · Sweden · France · Malaysia · Indonesia ·</marquee>

    <div class="img-container">
        <img id="mainImg" src="images/main.jpg">
        <div class="text">
            <h1>Go Solo</h1>
            <p>Plan out safe and inexpensive adventures</p>
        </div>
    </div>

    <br>

    <marquee> · Japan ·  Scotland · Italy · France · Spain · Greece · New Zealand · Australia · Portugal · Brazil · Ireland · Thailand · Mexico · Switzerland · Netherlands · Canada · Austria · Norway · Finland · Sweden · France · Malaysia · Indonesia ·</marquee>
</body>
</html>
